body {
    background-color: rgb(147, 145, 98);
    font-family: Georgia, 'Times New Roman', Times, serif;    
}

h1 {
    color: rgb(20, 21, 21);
    font-size: 50px;
}
p {
    font-size: 30px;
}

.middle_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 500px;
    margin-right: 500px; */
}
.middle_text {
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}

ul {
    font-size: 35px;
}
ol {
    font-size: 35px;
}
li {
    font-size: 25px;
    text-align: left;
    margin-left: 200px;
}
 a {
    text-align: center;
    margin-left: 550px;
    font-size: 20px;
    color: rebeccapurple;
}

 #lists_name {
    text-align: center;
    margin-left: 550px;
}
 /* li {
    text-align: center;
    margin-left: 550px;
 } */